:root {
  --primary: #929596;
}
.btnus {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  height: 30px;
}
.btnus:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #b92b12;
  transition: 250ms;
}

.btnus--primary1 {
  background-color: var(--primary);
}
.btnus--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btnus--medium {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
}
.btnus--large {
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}
